@{
    ViewBag.Title = "Areas";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryext")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/areas")
}

<nav>
    <ul>
        <li>
            <a href="#" data-bind="click: showArea">+ Area</a>
            <span id="new-area">
                <input type="text" data-bind="value: newArea"/>
                <button data-bind="click: addArea">Add</button>
            </span>
            <span id="filter-area">
                <input type="text" data-bind="value: filterString" />
                <button data-bind="click: filterCards" >Filter</button>
            </span>
        </li>
    </ul>
</nav>

<section id="areas" data-bind="foreach: areas" data-noage="@Settings.NO_AGE_AREAS">
    <article data-bind="attr: { 'data-areaid': ID }">
        <header>
            <h1 data-bind="text: Name"></h1>
            <a data-bind="attr: { 'href': 'Areas/Edit/' + ID }">Edit</a>
        </header>
        <ul class="cards" data-bind="foreach: Cards" data-aged="@Settings.STALE_AGE">
            <li class="card" data-bind="attr: { 'data-cardid': ID, 'data-stale': DaysSinceLastUpdate }" draggable="true">
                <a data-bind="text: Name, attr: { 'href': 'Cards/Edit/' + ID }" draggable="false"></a>
                <ul id="labels" data-bind="foreach: Labels">
                    <li><span data-bind="text: Name, attr: { 'data-color' : Color }"></span></li>
                </ul>
                <span class="card-bubble" data-bind="text: AgeText, attr: { 'data-age': AgeText }"></span>
            </li>
        </ul>
        <footer>
            <a href="#">Add card...</a>
            <div>
                <textarea></textarea>
                <button data-bind="click: $parent.addCard">Add</button>
            </div>
        </footer>
    </article>
</section>
