<!DOCTYPE html>
<html>
<head>
    <meta name="cards-baseurl" content="@Url.GetRoot()" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>