@if (!WebHelpers.IsAuthenticated)
{
    <a href="https://www.facebook.com/dialog/oauth?client_id=621615007867225&redirect_uri=http://localhost:3000/session/callback&scope=email&response_type=token">
        <img class="facebook-buttons" src="@Url.Content("~/Content/images/LoginFB.JPG")" />
    </a>    
}else
{
    <div>
        <h3 style="float:left">Welcome, @WebHelpers.FullName</h3>
    </div>
<a href="@Url.Action("Delete","Session")">
    <img class="facebook-buttons" src="@Url.Content("~/Content/images/logoutFB.JPG")" />
</a>
    <img src="@WebHelpers.ProfilePicture" />
    
    
}

